{% extends "hsConnect/layout.html" %}

{% load static %}

{% block body %}
<div class="lead">
    <h4>Find Tutor</h4>
    <form action="{% url 'findTutor' %}" method="POST">
        {% csrf_token %}
        <div>
            <div style="display: inline; padding-top: 5px">
                <label for="q"> Search Subject: </label>
                <select id="q" name="q" style="width: 200px; height: 38px">
                    <option style="display: none">
                        {% for subj in allsubjects %}
                            <option value="{{subj.subject}}">{{subj.subject}}</option>
                        {% endfor %}
                </select>
            </div>
            <div style="display: inline; padding-top: 5px; padding-left: 5px;">
                <input style="width: 76px; height: 38px" class="btn btn-outline-dark" type="submit" value="Search">
            </div>
        </div>
    </form>
    <br><br>
    {% for tutor in tutors %}
    <div class="card-group">
        <div class="card" style="border-radius: 15px; margin-bottom: 5px;">
            <div style="padding: 10px">
                <img style="
                    width: auto;
                    max-width: 180px;
                    height: auto;
                    max-height: 180px;" src="{{tutor.image}}" class="card-img-top" alt="{% static 'hsConnect/NoImage.png' %}">
            </div>
            
                <div class="card-body">
                    <h5 class="card-title">{{ tutor.firstName }} {{ tutor.lastName }}</h5>
                    <p class="card-text">Teaching {{ tutor.subject }} for grades {{tutor.grades}}
                    {{tutor.description}}</p>
                    <div style="color: #bdbdbd; font-size: 12px">
                        Listed {{ tutor.createdDate }}
                    </div>
                    <br>
                    <a href="http://127.0.0.1:8000/tutor/{{tutor.id}}" class="btn btn-outline-dark">Learn More</a>
                </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
