{% extends "hsConnect/layout.html" %}

{% block body %}
<main class="px-3">
    <h4>Our Partners</h4>
    <br>
    <a href="https://www.nph.org/mission">
        <strong class="lead"> NPH Dominican Republic </strong>
    </a>
    <br>
    <p class="lead"> Nuestros Pequeños Hermanos (NPH) strives to create a loving and safe family environment for vulnerable children living in extreme conditions. Through comprehensive education, healthcare and spiritual formation, we give the children the opportunity to develop their potential, shaping better futures for themselves, their families and their communities.
    </p>
</main>

{% endblock %}

